{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }]
  }
}
