{
  "extends": [
    "airbnb-base",
    "plugin:node/recommended"
  ],
  "plugins": [
    "import",
    "node"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }]
  }
}
