{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import",
    "node"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "camelcase": 0,
    "comma-dangle": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }]
  }
}
