# Javascript Node CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-javascript/ for more details

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
        environment:
          NODE_ENV: test
          POSTGRES_HOST: 127.0.0.1
          POSTGRES_DB: test
          POSTGRES_USER: test
          POSTGRES_DB: test
          POSTGRES_PASSWORD: ""
      - image: circleci/postgres:9.6-alpine-postgis
        environment:
          POSTGRES_DB: test
          POSTGRES_USER: test
          POSTGRES_DB: test
          POSTGRES_PASSWORD: ""

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test
